@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

/* Fonts
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

html, body{
  font-family: 'DM Sans', sans-serif;
  
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

/*nav*/

.nav{
  padding: 20px 0;
  border-bottom: 1px solid #26292D;;  
  background-color: #171718;
  color: #fff;
}
